@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 40px;
}

body {
    background-color: #deb887;
    font-family: sans-serif;
}

#modal-bolsista{
    margin-left: 300px;
}



#livrosemana {
    display: flex;
    justify-content: center;

}

#textolivro {
    color: white;
    margin-top: -2.2em;
    /*distancia do texto da parte de cima da box*/
    text-align: center;
}

#fundo {
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 151, 58);
    width: 15em;
    height: 5em;
}

.topicos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2em;
}

#container-cad-livro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

#btn-cadastrar-livro {
    display: flex;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 50px;
    border: none; 
    background: none;
    padding: 0;
    cursor: pointer;
    width: 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
     transition: all 0.6s ease; /* Suaviza a animação */
}

/* Efeito HOVER (passar o mouse) */
#btn-cadastrar-livro:hover img {
    transform: scale(1.1); /* Aumenta 10% */

}

/* Efeito CLICK (ativo) */
#btn-cadastrar-livro:active img {
    transform: scale(0.95); /* Encolhe 5% ao clicar */
}

/* Estilo da imagem dentro do botão */
#btn-cadastrar-livro img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease; /* Animação suave */
}

#btn-cadastrar-livro img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: -40%;


}

#btn-cadastrar-bolsista {
    display: flex;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 50px;
    border: none; 
    background: none;
    padding: 0;
    cursor: pointer;
    width: 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
     transition: all 0.6s ease; /* Suaviza a animação */
}

/* Efeito HOVER (passar o mouse) */
#btn-cadastrar-bolsista:hover img {
    transform: scale(1.1); /* Aumenta 10% */

}

/* Efeito CLICK (ativo) */
#btn-cadastrar-bolsista:active img {
    transform: scale(0.95); /* Encolhe 5% ao clicar */
}

#btn-cadastrar-bolsista img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: -40%;
    transition: all 0.3s ease; /* Animação suave */
}

#texto-cad-livro {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    width: 50px;
    height: 50px;
    white-space: nowrap;
  
}

#texto-cad-bolsista{
    display: flex;
    margin-left: 75px;
    justify-content: center;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    white-space: nowrap;
}

/* Estilos do Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close-modal {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* Quando o modal estiver aberto */
.modal[style*="display: flex"] ~ .menu-container {
    opacity: 0.1; /* Escurece o menu */
    transition: opacity 0s ease;
}

/* Escurece o fundo do modal */
.modal {
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
}

#form-livro input, #form-livro textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#form-livro textarea {
    height: 100px;
    resize: vertical;
}

#form-livro button {
    background: #7a4500;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.capa-livro {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-pdf {
    display: inline-block;
    background: #7a4500;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.resumo {
    margin-top: 15px;
    color: #555;
}

/* Menu fixo no canto */
.menu-container {
    position: fixed;
    top: 20%;
    /*distancia do header*/
    width: 15%;
    z-index: 9999;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #ffdeb2;
}

#menu-toggle {
    display: flex;
    font-size: 24px;
    margin-top: -4em;
    border: none;
    background: none;
    cursor: pointer;
    justify-content: center;
    transition: transform 0.3s ease, filter 0.2s ease;
}

#menu-toggle:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.menu a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

#botao-livro img {
    /*botao de livro no menu */
    display: block;
    text-align: center;
    position: relative;
    left: 20px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;

}

#botao-livro img:hover {
    transform: scale(1.05);
}

#botao-calendario img {
    display: block;
    text-align: center;
    position: relative;
    left: 5px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
}

#botao-calendario img:hover {
    transform: scale(1.05);
}

#logout{
    width: 70px;
    margin-right: 2%;
    margin-top: -5%;
    
}

#logout img{
    width: 100%;
    margin-right: 5%;
      transition: transform 0.1s;
    
}

#logout img:hover{
        filter: brightness(0.7);
   transform: scale(1.05);
    
}

/* CABEÇALHO */
header {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    top: 0px;
    padding: 20px;
    width: 100%;
    height: 20%;
    overflow: hidden;

    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Logo */
#imgComTexto {
    position: relative;
    height: 250px;
    width: auto;
    object-fit: contain;

}


/* Título */
.TituloP {
    font-family: "Great Vibes", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 3.8em;
    color: rgb(49, 80, 32);
    white-space: nowrap;


}

.titulos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}

#subtitulo {
    position: relative;
    font-size: 1.5em;
    color: grey;
    top: -1.5em;

}

.linhavertical {
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 15%;
    width: 5px;
    transform: X(-50%);
    background-color: black;
    z-index: 1000;
    box-shadow: 6px 0px 9px rgba(0, 0, 0, 0.3);
}

.linhahorizontal {
    position: fixed;
    top: 20%;
    bottom: 3;

    height: 5px;
    background-color: black;
    transform: X(-50%);
    z-index: 1000;
}

main {
    margin-left: 6em;
}


/* LIVROS */
section {
    display: flex;
    flex-direction: column;
    justify-items: end;
    width: 800px;
    margin: 2em auto;
}



.livro {
    /*Imagem dos livros */   
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 80%; /*tamanho caixa livro*/
    font-size: large;
    width: 90%;
    gap: 5em;
    height: auto;
    padding: 1em;
    border: 5px solid black;
    margin-left: 3.5em;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: rgb(245, 240, 167);

}

#imagem {
    width: 150px;
    height: auto;
}

.textocaixa {
    flex: 1;
    min-width: 200px;
}

/*RODAPé*/

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infofooter {
    display: flex;
    justify-content: end;
    flex-direction: row;
    margin-bottom: -40px;
}


#caixa-logoif {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 8em;


}

#logo {
    /* logo do if*/
    align-items: center;
    width: 50%;
    height: auto;


}