@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 40px;
}

body {
    background-color: burlywood;
    font-family: sans-serif;
}

/* Menu fixo no canto */
.menu-container {
    position: fixed;
    top: 120px;
    /*distancia do header*/
    left: 10px;
    z-index: 9999;
}

#menu-toggle {
    display: flex;
    font-size: 24px;
    width: 4em;
    height: 4em;
    border: none;
    background: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 998;
}

.menu a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}



/* CABEÇALHO */
header {
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    top: 0px;
    padding: 20px;
    width: 100%;
    height: 20%;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Logo */
#imgComTexto {
    position: relative;
    height: 250px;
    width: auto;
    object-fit: contain;

}


/* Título */
.TituloP {
    position: relative;
    display: flex;
    align-items: center;
    top: -30%;
    left: 15%;
    font-family: "Great Vibes", serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 3.4em;
    color: rgb(49, 80, 32);
    white-space: nowrap;

}

#subtitulo {
    font-weight: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -30%;
    top: 25%;
    white-space: nowrap;
}

.linhavertical{
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 15%;
    width: 5px;
    transform: X(-50%);
    background-color: black;
    z-index: 1000;
}

#livrosemana {
    margin-top: 2em;
    display: flex;
    justify-content: center;

}

#textolivro {
    color: white;
    margin-top: -2.2em; /*distancia do texto da parte de cima da box*/
    text-align: center;
}

#fundo { 
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 151, 58);
    width: 15em;
    height: 5em;
}

/*RODAPé*/

.infofooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;

}

#logo {
    /* logo do if no footer */

    position: relative;
    top: 140px;
    align-items: center;
    width: 70px;
    height: auto;


}

/* LIVROS */
section {
    display: flex;
    flex-direction: column;
    justify-items: end;

    width: 800px;
    margin: 2em auto;
}



.livro {
    /*Imagem dos livros */
    font-size: large;
    width: 90%;
    gap: 5em;
    height: auto;
    padding: 1em;
    border: 5px solid black;
    margin-left: 5em;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: azure;

}

#imagem {
    width: 150px;
    height: auto;
}

.textocaixa {
    flex: 1;
    min-width: 200px;
}