
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
header
.TituloP{
 
        font-family: "Great Vibes", serif;
        font-weight: 400;
        font-style: normal;
      
      
  
color: brown;
}
main{
    background-color: honeydew;
}