@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    font-family: sans-serif;
}

/* Menu fixo no canto */
.menu-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

#menu-toggle {
    display: flex;
    font-size: 24px;
    width: 4em;
    height: 4em;
    border: none;
    background: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 998;
}

.menu a {
    color: black;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

/* CABEÇALHO */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
    margin: 5em auto 2em;
    width: 90%;
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*RODAPé*/
footer {}

.infofooter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;

}

#logo {
    /* logo do if no footer */
    position: relative;
    top: 80px;
    align-items: center;
    width: 70px;
    height: auto;


}

/* Logo */
#imgComTexto {
    height: 100px;
    width: auto;
    object-fit: contain;
}

/* Título */
.TituloP {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: rgb(49, 80, 32);
}

/* LIVROS */
section {
    display: flex;
    flex-direction: column;
    justify-items: end;

    width: 800px;
    margin: 2em auto;
}



.livro {
    font-size: large;
    width: 90%;
    gap: 5em;
    height: auto;
    padding: 1em;
    border: 5px solid black;
    margin-left: 5em;
    margin-right: 2em;
    margin-bottom: 2em;
    background-color: azure;

}

#imagem {
    width: 150px;
    height: auto;
}

.textocaixa {
    flex: 1;
    min-width: 200px;
}